doctype html
html(lang="en")
  head
    title= "index page"
    script(type='text/javascript', src="./scripts/main.js")
    link(rel="stylesheet", href="./styles/index.css")
  body
    .page-wrap
        include includes/header.pug
        include includes/slider.pug            
        include includes/steps.pug  
        include includes/advantage.pug  
                  
    .footer-block