.modal-wrap
	-
		var form = {
			header: 'оформите заявку и наши менеджеры с вами свяжутся!',
			fields: [
				{
					type: 'text',
					placeholder: 'ваше имя',
					value: false,
				},
				{
					type: 'text',
					placeholder: 'телефон',
					value: false,
				},
				{
					type: 'submit',
					placeholder: false,
					value: 'Заказать проект',
				}
			],
		}
	-
	include callback-form.pug