.production-list-block
	.container
		.production-list
			.production-item-wrap
				a.production-item(href="javascript:;")
					.production-item-img
						img(src="./images/production-1.jpg")
					.production-item-name
						p
							img(src="./images/production-icon-1.png")
							|Клееный профилированный брус
					.production-item-price
						p цена за куб:
							strong от 21 000 &#8399;

			.production-item-wrap
				a.production-item(href="javascript:;")
					.production-item-img
						img(src="./images/production-2.jpg")
					.production-item-name
						p
							img(src="./images/production-icon-2.png")
							|профилированный брус
					.production-item-price
						p цена за куб:
							strong от 15 000 &#8399;