.product-carousel-block
	.container
		.product-carousel
			.carousel-list#carousel-list
				.carousel-item
					img(src="http://placehold.it/350x250")
				.carousel-item
					img(src="http://placehold.it/500x350")
				.carousel-item
					img(src="http://placehold.it/300x300")
				.carousel-item
					img(src="http://placehold.it/550x300")
				.carousel-item
					img(src="http://placehold.it/150x300")
