.projects-block
    .container        
        include ./projects-header.pug  
        include ./projects-list.pug 
        .text-center
            a.more-projects-button(href='javascript:;') смотреть все коттеджи
        
