.projects-list
    -
        var items = [
            {
                img: 'project-1.jpg',
                name: 'деревянный коттедж',
                sqr: '20x15'
            },
            {
                img: 'project-2.jpg',
                name: 'деревянный коттедж',
                sqr: '19x11'
            },
            {
                img: 'project-3.jpg',
                name: 'деревянный коттедж',
                sqr: '18x13'
            }
        ]
    -
    each val in items
        a(
            href="javascript"
            class="project-item"
        )
            .project-item-img
                img(src="./images/"+val.img, alt="")
            .project-item-name
                p
                    strong=val.name
                p=val.sqr
            .project-item-desc
                .project-desc-item
                    p цена коттеджа
                    strong 4 040 000 &#8399;
                .project-desc-item
                    p цена за метр
                    strong 20 000 &#8399;
                .project-desc-item
                    p общая площадь
                    strong 202 м
                        sup 2