.reference-block
	.container
		.reference-list
			-
				var items = [
					{
						name: 'как оплатить',
						img: 'reference-1.png',
						modal: 'Наши специалисты работают как с типовыми, так и с индивидуальными проектами. В первом случае вы выбираете проект дома из имеющихся вариантов (раздел «Типовые проекты»). Во втором случае мы разрабатываем индивидуальный проект с учетом ваших пожеланий, затем изготавливаем деревокомплект и только после этого начинаем строительные работы по воплощению в жизнь вашего проекта деревянного коттеджа. Через форму обратной связи вы можете отправить нам чертежи будущего дома, тогда мы рассчитаем предварительную цену строительства коттеджа по вашему проекту. '

					},
					{
						name: 'как заказать',
						img: 'reference-2.png',
						modal: 'Наши специалисты работают как с типовыми, так и с индивидуальными проектами. В первом случае вы выбираете проект дома из имеющихся вариантов (раздел «Типовые проекты»). Во втором случае мы разрабатываем индивидуальный проект с учетом ваших пожеланий, затем изготавливаем деревокомплект и только после этого начинаем строительные работы по воплощению в жизнь вашего проекта деревянного коттеджа. Через форму обратной связи вы можете отправить нам чертежи будущего дома, тогда мы рассчитаем предварительную цену строительства коттеджа по вашему проекту.'
					},
					{
						name: 'сроки производства',
						img: 'reference-3.png',
						modal: 'Наши специалисты работают как с типовыми, так и с индивидуальными проектами. В первом случае вы выбираете проект дома из имеющихся вариантов (раздел «Типовые проекты»). Во втором случае мы разрабатываем индивидуальный проект с учетом ваших пожеланий, затем изготавливаем деревокомплект и только после этого начинаем строительные работы по воплощению в жизнь вашего проекта деревянного коттеджа. Через форму обратной связи вы можете отправить нам чертежи будущего дома, тогда мы рассчитаем предварительную цену строительства коттеджа по вашему проекту.'
					},
					{
						name: 'гарантии качества',
						img: 'reference-4.png',
						modal: 'Наши специалисты работают как с типовыми, так и с индивидуальными проектами. В первом случае вы выбираете проект дома из имеющихся вариантов (раздел «Типовые проекты»). Во втором случае мы разрабатываем индивидуальный проект с учетом ваших пожеланий, затем изготавливаем деревокомплект и только после этого начинаем строительные работы по воплощению в жизнь вашего проекта деревянного коттеджа. Через форму обратной связи вы можете отправить нам чертежи будущего дома, тогда мы рассчитаем предварительную цену строительства коттеджа по вашему проекту.'
					}
				]
			-

			each val in items

				.reference-item-wrap
					.reference-item
						.reference-item-link
							.reference-img
								img(src="./images/"+val.img,  alt="")
							.reference-name
								p=val.name
						if val.modal
							.reference-modal
								.reference-modal-close.modal-close
								.reference-modal-header
									p=val.name
								p=val.modal