.akzonobel-block
	.container
		.narrow-text-block
			p Современный брус для строительства дома - это высокотехнологичный материал, каждый этап производства которого у нас строго регламентирован, вследствие чего продукция отвечает всем техническим требованиям
			p За качеством продукции так же следит и наш основной поставщик клея - шведская компания Akzo Nobel.  Абсолютно вся выпускаемая продукция проходит проверку на соответствие нормам представителем компании 