.slider-list.big-slider
    .slider-item(
        style = " background-image: url('./images/slide-1.jpg')"
    )
    .slider-item(
        style = " background-image: url('./images/slide-2.jpg')"
    )
.container
    .slider-header
        p=slider.header
    .slider-desc
        p=slider.desc
    .slider-pager#slider-pager