.partners-block.site-block
	.container
		.text-center
			h2 наши партнеры
		.partner-list
			each val in ['partner-1.png', 'partner-2.png', 'partner-3.png', 'partner-1.png', 'partner-2.png', 'partner-3.png']
				.partner-item
					img(src="./images/"+val)
