.slider-block
    .slider-list#top-slider
        .slider-item(
            style = " background-image: url('../images/slide-1.jpg')"
        )
        .slider-item(
            style = " background-image: url('../images/slide-2.jpg')"
        )
    .container
        .slider-header
            p Строим дома, в которых хочется жить
        .slider-desc
            p производство и строительство домов из клееного и цельного профилированного бруса
        .slider-pager#slider-pager