.slider-block
	-
		var slider = {
			header: 'Строим дома, в которых хочется жить',
			desc: 'производство и строительство домов из клееного и цельного профилированного бруса'
		}
	-
	include big-slider.pug 